<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>How many bank account the customer have? </b> {{Bank_Accnt_Open}}<br>
    <b>Worst Perimeter: </b> {{Household_Size}}<br>
    <b>Mean Concave Points: </b> {{Homes_Owned}}<br>
    <b>Worst Radius: </b> {{Credit_Rating}}<br>
    <b>Mean Perimeter: </b> {{Average_Balance}}<br>
    <b>Worst Area: </b> {{Q1_Balance}}<br>
    <b>Mean Radius: </b> {{Q2_Balance}}<br>
    <b>Mean Area: </b> {{Q3_Balance}}<br>
    <b>Mean Concavity: </b> {{Q4_Balance}}<br>
    <b>Worst Concavity: </b> {{Reward_Air Miles}}<br>
    <br>
    Analysist Result:
    {{prediction}}
    <br>
    <a href="/" target="_self">
        <button>Predict Now</button>
    </a>
</body>
</html>