<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>Bank_Accnt_Open: <b> {{Bank_Accnt_Open}}<br>
    <b>Household_Size: <b> {{Household_Size}}<br>
    <b>Homes_Owned: <b> {{Homes_Owned}}<br>
    <b>Credit_Rating: <b> {{Credit_Rating}}<br>,
    <b>Average_Balance: <b> {{Average_Balance}}<br>
    <b>Q1_Balance: <b> {{Q1_Balance}}<br>
    <b>Q2_Balance: <b> {{Q2_Balance}}<br>
    <b>Q3_Balance: <b> {{Q3_Balance}}<br>
    <b>Q4_Balance: <b> {{Q4_Balance}}<br>
    <b>Reward_Air Miles: <b> {{Reward_Air Miles}}<br>
    <b>Reward_Cash Back: <b> {{Reward_Cash Back}}<br>
    <b>Reward_Points: <b> {{Reward_Points}}<br>
    <b>mailer_Letter: <b> {{mailer_Letter}}<br>
    <b>mailer_Postcard: <b> {{mailer_Postcard}}<br>
    <b>income_High: <b> {{income_High}}<br>
    <b>income_Low: <b> {{income_Low}}<br>
    <b>income_Medium: <b> {{income_Medium}}<br>
    <b>overdraw_No: <b> {{overdraw_No}}<br>
    <b>overdraw_Yes: <b> {{overdraw_Yes}}<br>
    <b>CC_1: <b> {{CC_1}}<br>
    <b>CC_2: <b> {{CC_2}}<br>
    <b>CC_3: <b> {{CC_3}}<br>
    <b>CC_4: <b> {{CC_4}}<br>
    <b>hold_home_1: <b> {{hold_home_1}}<br>
    <b>hold_home_2: <b> {{hold_home_2}}<br>
    <b>hold_home_3: <b> {{hold_home_3}}<br>
        
    <b>Worst Concave Points: </br> {{worstconcave}}<br>
    <b>Worst Perimeter: </b> {{worstperim}}<br>
    <b>Mean Concave Points: </b> {{meanconcave}}<br>
    <b>Worst Radius: </b> {{worstradius}}<br>
    <b>Mean Perimeter: </b> {{meanperim}}<br>
    <b>Worst Area: </b> {{worstarea}}<br>
    <b>Mean Radius: </b> {{meanradius}}<br>
    <b>Mean Area: </b> {{meanarea}}<br>
    <b>Mean Concavity: </b> {{meancocavity}}<br>
    <b>Worst Concavity: </b> {{worstconcavity}}<br>
    <br>
    Analysist Result:
    {{prediction}}
    <br>
    <a href="/" target="_self">
        <button>Analyze Again</button>
    </a>
</body>
</html>